@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
};

:root {
  --primary: #591420;
  --secondary: #f5ddd2;
  --cherryColor: #2e0823;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --font-poppins: var(--font-poppins);
  --font-cream-cake: var(--font-cream-cake);
  
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-cherry: var(--cherryColor);
  
}

@layer utilities {
  .text-stroke-primary {
    -webkit-text-stroke: 2px #591420;
  }
  
  .text-stroke-secondary {
    -webkit-text-stroke: 2px #f5ddd2;
  }

    .text-stroke-secondary-1 {
    -webkit-text-stroke: 1px #f5ddd2;
  }
}

 .underline-effect {
   @apply relative cursor-pointer;
 }

 .underline-effect::after {
   content: '';
   @apply absolute h-0.5 w-0 bottom-0 left-0 bg-secondary transition-all;
 }

 .underline-effect:hover::after {
   @apply w-full;
 }


 .capsule-breizh {
  --capsule-bg: #111;
  --capsule-stroke: #000;
  --inner-bg: #f5e6c8;
  --inner-stroke: #c49b3a;
  --text-color: #ffffff;
}
